<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hello{% endblock %}</title>
</head>
<body>
<h1>Example Hello Bundle</h1>
{% block body %}{% endblock %}
</body>
</html>
